<!--The content below is only a placeholder and can be replaced.-->
<div class="container" >
<div style="text-align:center;">
  <h1 class="appTittle">
    {{ title }}
  </h1>
  <img width="200" class="imgLogo" alt="Money Exchange Logo" src="../assets/img/Logo.png">

  <ul class="nav nav-pills" style="display: flex; justify-content: center; margin: 20px 0 20px 0;">
    <li class="pill-active" role="presentation" ><a class="nav-link" href="#">Euros to US Dollar</a></li>
    <li class="pill-inactive" role="presentation"><a class="nav-link" href="#">lorem ipsum</a></li>
    <li class="pill-inactive" role="presentation"><a class="nav-link" href="#">lorem ipsum</a></li>
    <li class="pill-inactive" role="presentation"><a class="nav-link" href="#">lorem ipsum</a></li>
  </ul>

</div>
  
<app-currency-exchange-calculator></app-currency-exchange-calculator>

</div>


<footer class="row" style="text-align:center; height: 100%; background-color:#dadfe3; margin-top: 30px;">
  <div class="container" style="margin-top:10px;">
    <div class="col-md-3 col-xs-12">
        <h3 style="font-weight: bold;">LOREM IPSUM</h3>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
        </p>
    </div>
    <div class="col-md-3 col-xs-12">
        <h3 style="font-weight: bold;">LOREM IPSUM</h3>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
        </p>
    </div>
    <div class="col-md-3 col-xs-12">
        <h3 style="font-weight: bold;">LOREM IPSUM</h3>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
        </p>
    </div>
    <div class="col-md-3 col-xs-12">
        <h3 style="font-weight: bold;">LOREM IPSUM</h3>
        <ul class="nav nav-pills" style="display: block; justify-content: center;">
          <li>
              <a href="https://www.facebook.com" target="_blank" tracked="1"><img src="https://www.colsubsidio.com/uploads/2016/10/fb.png" alt="Facebook"></a>
          </li>
          <li>
            <a href="https://twitter.com" target="_blank" tracked="1"><img src="https://www.colsubsidio.com/uploads/2016/10/tw.png" alt="Twitter"></a>
          </li>
          <li>
            <a href="https://www.youtube.com" target="_blank" tracked="1"><img src="https://www.colsubsidio.com/uploads/2016/10/yt.png" alt="Youtube"></a>
          </li>
          <li>
            <a href="https://www.linkedin.com" target="_blank" tracked="1"><img src="https://www.colsubsidio.com/uploads/2016/10/in.png" alt="Linkedin"></a>
          </li>
        </ul>
    </div>
</div>
</footer>